#genre-filters {
  padding: var(--p-xl);
  border-bottom: solid 1px var(--gray--light);
}

#genre-filters__genre-list {
  list-style: none;
  display: flex;
  gap: var(--m-md);
  padding: 0;
  margin: 0;
  height: 100%;
}

.genre-filters__filter {
  border: none;
  padding: 4px 10px;
  font-weight: bold;
  background: var(--main-color);
  color: #fff;
}
