.search-bar__form {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--p-md);
  border-bottom: solid 1px var(--gray--light);
}

.search-bar__input {
  flex: 0 0 400px;
  padding: var(--p-xs);
}
